<div class="allCenter" *ngIf="gruposalimenticios.length > 0">
  <mat-card>
    <h3>Configurar Switch Alimentario</h3>

    <mat-form-field class="w-100">
      <mat-label>Grupo alimenticio</mat-label>
      <mat-select
        [formControl]="gruposalimenticiosfc"
        (selectionChange)="selecionarAlimentosGrupos($event.value)"
      >
        <mat-option
          *ngFor="let grupoalimenticio of gruposalimenticios"
          [value]="grupoalimenticio.grupoalimenticio_id"
          >{{ grupoalimenticio.grupoalimenticio_nombre }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Alimento</mat-label>
      <mat-select [formControl]="alimentosfc">
        <mat-option
          *ngFor="let alimento of alimentosToShow"
          [value]="alimento.alimento_id"
          >{{ alimento.alimento_nombre }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="w-100 flex justify-content-around">
      <button mat-raised-button color="primary" (click)="agregarAlimento()">Agregar alimento</button>
      <button mat-raised-button color="accent" (click)="modificarAlimento()">Modificar alimento</button>
    </div>
  </mat-card>
</div>
