<mat-dialog-content>
    <div class="allCenter">
      <h4 *ngIf="avilableOption.length === 0">
        Actualmente no tienes opciones para esta Persona
      </h4>   
      <button
        *ngIf="avilableOption.includes('anular')"
        class="mt-10 mb-10"
        mat-raised-button
        color="warn"
        (click)="closeOptions('anular')"
      >
        Suspender {{data.persona_tipo}}
      </button>

      <button
        *ngIf="avilableOption.includes('activar')"
        class="mt-10 mb-10"
        mat-raised-button
        color="primary"
        (click)="closeOptions('activar')"
      >
        Activar {{data.persona_tipo}}
      </button>
    </div>
  </mat-dialog-content>