@mixin users_conf() {
  @media (max-width: 450px) {
    .mat-tab-header-pagination {
      display: none;
    }

    .mat-tab-links {
      display: flex;
      justify-content: space-around;
    }

    .mat-tab-link {
      padding: 0;
      width: 33%;
      white-space: normal;
      line-height: 12px;
    }

    .iconText {
      font-size: 11px;
    }

    .table-overflow table {
      table-layout: fixed;
      th,td{
        text-align: center;
      }

      tr td:first-child{
        text-align: left;
      }
    }
  }

  .table-overflow {
    overflow-x: auto;
  }

  @media (min-width: 451px) {
    .table-overflow table {
      min-width: 600px;
    }
  }
}
