<div class="this-layout">
    <h3>Listado de citas pendientes por revisión</h3>
   
    <div class="w-100 flex justify-content-center">
        <div class="table-container">

          <mat-form-field>
            <mat-label>Filtrar cita</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar cita" #input>
          </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="w-100">
               
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef class="uno-td"> Fecha </th>
                  <td mat-cell *matCellDef="let element" class="uno-td"> {{element.cita_fecha.split(" ")[0] | fechaPretty}} </td>
                </ng-container>
                
               
                <ng-container matColumnDef="hora" *ngIf="!small">
                    <th mat-header-cell *matHeaderCellDef class="dos-td"> Hora </th>
                    <td mat-cell *matCellDef="let element" class="dos-td"> {{element.cita_fecha.split(" ")[1]}} </td>
                  </ng-container>
                  
                <ng-container matColumnDef="tipo" *ngIf="!small">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Cita </th>
                    <td mat-cell *matCellDef="let element"> {{element.cita_tipo_nombre}} </td>
                  </ng-container>
                

               
                <ng-container matColumnDef="paciente">
                  <th mat-header-cell *matHeaderCellDef> Paciente </th>
                  <td mat-cell *matCellDef="let element"> {{element.cita_usuario_nombre}}</td>
                </ng-container>

                <ng-container matColumnDef="doctor" *ngIf="!small">
                  <th mat-header-cell *matHeaderCellDef> Doctor </th>
                  <td mat-cell *matCellDef="let element"> {{element.cita_profesional_nombre}}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.cita_estado_nombre}}</td>
                </ng-container>
              
                
                <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef> Opciones </th>
                  <td mat-cell *matCellDef="let element" >
                      <div style="display: flex; justify-content: space-evenly; width: 100%;">
                        <mat-icon class="cursor-context-menu" (click)="showCita(element.cita_id)">remove_red_eye</mat-icon>
                        <mat-icon class="cursor-context-menu" (click)="showCitaOptions(element.cita_id)">calendar_view_day</mat-icon>                                    
                      </div>          
                  </td>
                </ng-container>
              
                <!-- esto es como tal lo que arma la tabla -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>

    
</div>

