#tryoutLogo{
    max-width: 500px;
    height: auto;
}

#tryoutContainer{
    background-image: url('/assets/img/fondoHome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
