
/* @media(max-width:600px){
    .mat-tab-label-content{
        color:red;
        display: flex !important;
        flex-direction: column !important;
    }
}
 */
/* .mat-tab-label .mat-tab-label-content{
    color:red;
    display: flex !important;
    flex-direction: column !important;
} */

