<table
mat-table
[dataSource]="dataSource"
class="mat-elevation-z8 w-100"
*ngIf="alimentosArray.length > 0"
>
<!-- Name Column -->
<ng-container matColumnDef="alimento">
  <th mat-header-cell *matHeaderCellDef>Lista de alimentos</th>
  <td mat-cell *matCellDef="let element">
    {{ nombreAlimento(element) }}    
    >
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="mb-20"></div>