<mat-tab-group animationDuration="0ms">
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <div class="allCenter">
            <mat-icon class="example-tab-icon">home</mat-icon>
            Inicio
        </div> 
        
      </ng-template>
      <app-citas-home></app-citas-home>
    </mat-tab> -->
  
    <mat-tab>
      <ng-template mat-tab-label>
         <div class="allCenter">
            <mat-icon class="example-tab-icon">article</mat-icon>
            Citas pendientes
         </div>         
      </ng-template>
      <app-citas-pendientes></app-citas-pendientes>
    </mat-tab>     
</mat-tab-group>
 

