<mat-dialog-content>

  <div class="">
    <h1 mat-dialog-title class="mb-10">Subir una evidencia</h1>
    <span class="mb-10"
      >Podrás subir las evidencias de tus rutinas desde tu computador o desde tu
      celular</span
    >

    <form [formGroup]="nuevaEvidenciaForm">
      <mat-form-field class="w-100">
        <ngx-mat-file-input
          formControlName="anexos"
          placeholder="Evidencias"
          multiple
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Observación</mat-label>
        <textarea
          matInput
          formControlName="observacion"
          cdkTextareaAutosize
          type="text"
        ></textarea>
      </mat-form-field>
    </form>
    <mat-error
      *ngIf="nuevaEvidenciaForm.get('anexos').hasError('img_noCompliant')"
      class="mb-10"
      >Por favor verifica que todos los archivos sean imágenes</mat-error
    >
  </div>

  <div>
    <h3>Alimentos consumidos</h3>
    <h5>**Aplica sólo para evidencias de planes nutricionales</h5>
    <app-alimentos-upload (alimentosToAdd)="asignarAlimentos($event)"></app-alimentos-upload>
  </div>


  <div class="allCenter">
    <button
      class="mt-10 mb-10"
      mat-raised-button
      color="primary"
      (click)="enviarEvidencia()"
    >
      Enviar evidencias
    </button>
  </div>
</mat-dialog-content>
