    <h5>Información del perfil de usuario</h5>
    <mat-dialog-content>
      <form [formGroup]="profileForm">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="nombres" type="text" />
            </mat-form-field>
          </div>
  
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="apellidos" type="text" />
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="direccion" type="text" />
            </mat-form-field>
          </div>
  
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono" type="number" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Número de documento</mat-label>
              <input matInput formControlName="documento" type="number" />
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">          
          <div class="col-xs-12 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="contrasena" type="password" />
            </mat-form-field>
          </div>
        </div>

      </form>
      
    </mat-dialog-content>
    <mat-error class="animate__animated animate__shakeX" *ngIf="showError">
      Por favor verifica la información antes de enviarla
    </mat-error>
    <mat-success class="animate__animated animate__shakeX" *ngIf="showSuccess">
      Información suministrada con exito
    </mat-success>
  
    <mat-dialog-actions class="flex end-xs default-material-container">
      <button mat-raised-button color="primary" (click)="sendChanges()">Modificar</button>
      <button
        mat-raised-button
        color="accent"
        [mat-dialog-close]="{reload:false}"
        cdkFocusInitial
      >
        Salir
      </button>
    </mat-dialog-actions>
    


