<mat-dialog-content>
  <div class="">
    <h1 mat-dialog-title class="mb-10">Subir una evidencia</h1>
    <span class="mb-10"
      >Podrás subir las evidencias de tus rutinas desde tu celular</span
    >

    <form [formGroup]="nuevaEvidenciaForm">
      <div class="w-100">
        <div class="w-100 pt-20 pb-20 allCenter">
          <mat-icon
            color="primary"
            style="width:70px;height:70px;font-size:70px"
            (click)="takePicture()"
            >camera_enhance</mat-icon
          >
        </div>

        <div *ngIf="imagenes.length > 0">
            <div
              class="mt-20 contenedorImagenes"
              style="display:flex;overflow-x: auto;"
            >
                <img
                *ngFor="let imagen of imagenes,let ind=index"
                  src="data:image/jpeg;base64,{{imagen}}"
                  alt="img{{ind}}"
                />          
            </div>
            <div class="mt-20 w-100 allCenter">
              <button mat-stroked-button color="accent" (click)="borrarFotos()">Borrar fotos</button>
            </div>
        </div>

        
      </div>

      <mat-form-field class="w-100">
        <mat-label>Observación</mat-label>
        <textarea
          matInput
          formControlName="observacion"
          cdkTextareaAutosize
          type="text"
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <div>
    <h3>Alimentos consumidos</h3>
    <h5>**Aplica sólo para evidencias de planes nutricionales</h5>
    <app-alimentos-upload
      (alimentosToAdd)="asignarAlimentos($event)"
    ></app-alimentos-upload>
  </div>

  <div class="allCenter">
    <button
      class="mt-10 mb-10"
      mat-raised-button
      color="primary"
      (click)="enviarEvidencia()"
    >
      Enviar evidencias
    </button>
  </div>
</mat-dialog-content>
