<mat-dialog-content>
    <div class="allCenter">
      <h4 *ngIf="avilableOption.length === 0">
        Actualmente no tienes opciones para esta cita
      </h4>
      <button
        *ngIf="avilableOption.includes('activar')"
        class="mt-10 mb-10"
        mat-raised-button
        color="primary"
        (click)="closeOptions('activar')"
      >
        Activar Cita
      </button>
      <button
        *ngIf="avilableOption.includes('aprobar')"
        class="mt-10 mb-10"
        mat-raised-button
        color="primary"
        (click)="closeOptions('aprobar')"
      >
        Aprobar Cita
      </button>
      <button
        *ngIf="avilableOption.includes('anular')"
        class="mt-10 mb-10"
        mat-raised-button
        color="warn"
        (click)="closeOptions('anular')"
      >
        Anular Cita
      </button>
      <button
        *ngIf="avilableOption.includes('modificarFecha')"
        class="mt-10 mb-10"
        mat-raised-button
        color="accent"
        (click)="closeOptions('modificarFecha')"
      >
        Modificar fecha de la cita
      </button>
    </div>
  </mat-dialog-content>
  

