#homeLogo{
    width: 500px;
    height: auto;
}

#homeContainer{
    background-image: url('/assets/img/fondoHome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media(max-width:450px){
  #homeLogo{
    max-width: 90%;
  }

  form{
    max-width: 80%;
  }

  #homeContainer{    
    background-image: url('/assets/img/fondoHome.png');
    background-repeat: repeat;
    background-position: top;
    background-size: 300px 300px;
}
      

}