@import '_admins_conf.scss';

$admins-theme-primary: mat-palette($mat-purple);
$admins-theme-accent: mat-palette($gastropack-blue);
$admins-theme-warn: mat-palette($mat-red);

$admins-material-theme: mat-light-theme(
  $admins-theme-primary,
  $admins-theme-accent,
  $admins-theme-warn
);

@mixin admins-material-mixin($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);

  mat-success{
    color: mat-color($primary);
  } 

  .ejemplo {
    background-color: mat-color($primary, lighter);
  }
}

#admins-material-container, .admins-material-container {
  @include angular-material-theme($admins-material-theme);
  @include default-material-mixin($admins-material-theme);
  @include admins_conf();
}
