<h1 mat-dialog-title>Modificar un alimento</h1>
<mat-dialog-content>
  <form [formGroup]="modificarAlimentoForm">
    <mat-form-field class="w-100">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" type="text" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option
          *ngFor="let estado of estados"
          value="{{ estado.estado_id }}"
          >{{ estado.estado_nombre }}</mat-option
        >
      </mat-select>
    </mat-form-field>
     
  </form>
  
</mat-dialog-content>
<mat-dialog-actions class="flex justify-content-end">
<button mat-raised-button color="primary" (click)="modificarAlimento()"> Modificar Alimento</button>
<button mat-raised-button color="accent" [mat-dialog-close]="{ reload: false }"> Cerrar</button>
</mat-dialog-actions>